:root {
    --clr-orange-400: hsl(31, 77%, 52%);
    --clr-cyan-400: hsl(184, 100%, 22%);
    --clr-teal-400: hsl(179, 100%, 13%);

    --clr-neutral-100: hsl(0, 0%, 95%);
    --clr-neutral-200: hsla(0, 0%, 100%, 0.75);

    --fs-400: 0.9375rem;

    --ff-body: 'Lexend Deca', sans-serif;
    --ff-titles: 'Big Shoulders Display', cursive;

    --fw-regular: 400;
    --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

[class*="grid-"] {
    display: grid;
}

.grid-flow {
    align-content: start;
    gap: 1.5rem;
}

@media (min-width: 50em) {
    .grid-auto-flow {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.orange {
    --_shade: var(--clr-orange-400);
    background-color: var(--_shade);
}

.cyan {
    --_shade: var(--clr-cyan-400);
    background-color: var(--_shade);
}

.teal {
    --_shade: var(--clr-teal-400);
    background-color: var(--_shade);
}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    line-height: 1.6;
    color: var(--clr-neutral-200);
    background-color: var(--clr-neutral-100);
    padding: 5.5rem 1.5rem;
    display: grid;
    place-content: center;
    min-height: 100vh;
    place-items: center;
}

main {
    overflow: hidden;
    border-radius: .5rem;
    max-width: 400px;
}

@media (min-width: 50em) {
    main {
        max-width: 920px;
    }
}

main > div {
    padding: 3rem;
}

.title {
    color: var(--clr-neutral-100);
    font-family: var(--ff-titles);
    font-size: 2.5rem;
    text-transform: uppercase;
}

.button {
    border: 2px solid var(--clr-neutral-100);
    border-radius: 100vw;
    padding: .6rem 2rem;
    width: fit-content;
}

.button:is(:hover, :focus) {
    cursor: pointer;
    background-color: transparent;
    color: var(--clr-neutral-100);
}

@media (min-width: 50em) {
    .button {
        margin-top: 4rem;
    }
}

.orange button {
    color: var(--_shade);
}

.cyan button {
    color: var(--_shade);
}

.teal button {
    color: var(--_shade);
}
